<section class="proyectos">
    <h2>Proyectos</h2>

    <div class="tarjeta">
        <h3>Proyecto</h3>
        <img alt="captura">
        <h5>Fecha</h5>

        <div *ngIf="">
            <p>Nulla occaecat Lorem quis culpa qui culpa. In excepteur laborum duis mollit laborum cupidatat officia. Reprehenderit incididunt ipsum tempor officia irure. Ad nulla ipsum aliquip Lorem ullamco sint nostrud consectetur quis ipsum. In aliquip anim ullamco et eiusmod magna fugiat veniam velit elit nisi Lorem eiusmod. Amet ullamco officia Lorem amet exercitation in quis.</p>
        </div>
        <ul>
            <li><img alt="website"></li>
            <li><img alt="github"></li>
        </ul>
        <a>Desplegar</a>
    </div>
</section>
