<section class="contacto">
    <h2>Contacto</h2>

    <div id="formulario-email">
        <form>
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="email" name="email" placeholder="Dirección de correo">
            <input type="text" name="asunto" placeholder="asunto">
            <textarea name="mensaje">Mensaje...</textarea> 
        </form>
    </div>

    <div id="datos-personales">
        <h3>Datos personales</h3>
        <p><i>icono</i> Teléfono</p>
        <p><i>icono</i> LinkedIN</p>
        <p><i>icono</i> Twitter</p>
        <p><i>icono</i> Github</p>
        <p><i>icono</i> Currículum</p>
    </div>
</section>