<section class="tecnologias">
    <h2>Tecnologías</h2>

    <h3>Diseño web</h3>
    <div id="tarjeta">
        <h4>Tecnologia</h4>
        <img src="" alt="foto-tecno">
        <p>Experiencia: 1 año</p>
        <p>Nivel: 5/5</p>
    </div>

    <h3>Lenguajes de programación</h3>
    <div id="tarjeta">
        <h4>Tecnologia</h4>
        <img src="" alt="foto-tecno">
        <p>Experiencia: 1 año</p>
        <p>Nivel: 3/5</p>
    </div>

    <h3>Frameworks</h3>
    <div id="tarjeta">
        <h4>Tecnologia</h4>
        <img src="" alt="foto-tecno">
        <p>Experiencia: 1 año</p>
        <p>Nivel: 2/5</p>
    </div>
</section>