<section class="experiencia">
    <h2>Experiencia Profesional</h2>
    <div class="tarjeta-larga">
        <h3>Trabajo</h3>
        <h5>Empresa</h5>
        <h6>Del tal al tal de tal</h6>
        <p>Ea ipsum reprehenderit culpa enim consequat fugiat. Do reprehenderit excepteur aliquip quis deserunt veniam ut cillum elit mollit velit cupidatat. Dolor ad fugiat est magna. Sit quis ea officia eiusmod ea elit labore ullamco proident ipsum tempor. Pariatur irure amet mollit amet aute sunt voluptate. Ea fugiat pariatur non quis et sunt ipsum tempor. Aliquip officia culpa irure ut exercitation officia laborum cillum id ad.</p>
    </div> 
</section>
